<center>
<h3>Sandbox for Rails Services and Tools</h3>
<p>This Rails 'app' is a sandbox for experimenting with services, tools, and integrations.<p>
<p>
  <b>Testing</b>
  <li class="no-bullet">Docker</li>
  <li class="no-bullet">Rubocop</li>
</p>
<p>
  <b>In the pipeline</b>
  <li class="no-bullet">CircleCI</li>
  <li class="no-bullet">SemaphoreCI</li>
  <li class="no-bullet">Rollbar</li>
  <li class="no-bullet">Datadog</li>
  <li class="no-bullet">New Relic</li>
  <li class="no-bullet">TravisCI</li>
</p>

<button onclick="location.href='/raise_exception'">Raise exception</button>
</center>
